/*@import url(http://fonts.googleapis.com/css?family=Inconsolata);*/

html, body{
	margin: 0;
	background-color: #6699CC;
	color: black;
	font-size: 13px;
}

* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
}

h1 {
	font-family:  impact, charcoal, sans-serif;
	padding: 10px 0;
	font-size: 30px;
	color: black;
	margin-left: 0;
}

#container {
	margin: 0;
	display: block;
	background-color: #6699CC;
	height: 650px;
}

#img_display {
	display: block;
	height: 400px;
	padding:10px 0;
	background-color: #747369;
	margin: auto;
}

#slideshow_img {
	display:block;
	margin-left: auto;
	margin-right: auto;
	max-height: 400px;	
}

#caption_display {
	text-align: center;
	padding: 10px 0;
	background-color: #6699CC;
}

#slide_player {
	padding: 20px 0;
	background-color: #6699CC;
}

#button_container {
	background-color: #747369;
	padding: 20px;
	width: 190px;	
	height: 21px;
	margin:auto;
	display: block;
}

.buttons {
	display: inline;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-right: 20px;	
}

